<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{layout.title}">Resources Relationnelles</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- HEADER -->
<header>
    <div class="nav-container">
        <nav>
            <img src="/img/logo-nobg.png" alt="Logo" id="logo">
            <ul class="nav-links" id="navbarLinks">
                <li><a href="/home#hero" th:text="#{nav.home}">Accueil</a></li>
                <li><a href="/home#projet" th:text="#{nav.project}">Le projet</a></li>
                <li><a href="/ressources" th:text="#{nav.resources}">Ressources</a></li>
            </ul>
        </nav>
        <div class="auth">
            <div th:if="${session.user != null and session.user.role.name == 'Super-Administrateur'}">
                <a href="/superadmin/users" class=" btn-superadmin" th:text="#{nav.superadmin}">Super-Administrateur</a>
                <a href="/admin/stats" class=" btn-admin" th:text="#{nav.admin}">Administrateur</a>
                <a href="/moderator" class="btn-moderator" th:text="#{nav.moderator}">Modérateur</a>
            </div>

            <div th:if="${session.user != null and session.user.role.name == 'Administrateur'}">
                <a href="/admin/stats" class="btn-users" th:text="#{nav.admin}">Administrateur</a>
                <a href="/moderator" class="btn-users" th:text="#{nav.moderator}">Modérateur</a>
            </div>

            <div th:if="${session.user != null and session.user.role.name == 'Modérateur'}">
                <a href="/moderator" class="btn-users" th:text="#{nav.moderator}">Modérateur</a>
            </div>
            <div th:if="${session.user == null}">
                <a href="/login" class="btn-login" th:text="#{nav.login}">Connexion</a>
                <a href="/signup" class="btn-register" th:text="#{nav.signup}">Inscription</a>
            </div>

            <div th:if="${session.user != null}">
                <a href="/users/profile" class="btn-profile" th:text="#{nav.profile}">Mon profil</a>
            </div>
        </div>
    </div>
</header>

<!-- CONTENU -->
<main layout:fragment="content"></main>

<!-- FOOTER -->
<footer>
    <p>&copy; 2023 Resources Relationnelles. <span th:text="#{footer.rights}">Tous droits réservés.</span></p>
    <p>
        <a href="#" th:text="#{footer.faq}">FAQ</a> |
        <a href="#" th:text="#{footer.contact}">Contact</a> |
        <a href="#" th:text="#{footer.privacy}">Politique de Confidentialité</a> |
        <a href="#" th:text="#{footer.terms}">Conditions</a>
    </p>
</footer>
</body>
<script src="/js/script.js"></script>
</html>
