<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compte supprimé</title>
    <link rel="stylesheet" href="/css/moderation-view.css">
</head>
<body>
<div class="view-container">
    <div class="card">
        <h1>Compte supprimé</h1>
        <p>Vos données ont été désactivées ou anonymisées avec succès. Vous êtes maintenant déconnecté.</p>
        <a href="/" class="btn-back">Retour à l'accueil</a>
    </div>
</div>
</body>
</html>
