<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/mainLayout}">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ressources</title>
	<link rel="stylesheet" href="/css/listRessource.css" />
</head>
<body>
<main layout:fragment="content">
	<section class="intro_listRessource">
		<h1>Articles & Ressources relationnelles</h1>
		<p>Accédez à nos ressources pour mieux comprendre et enrichir vos relations au quotidien.<br>
		Chaque ressource est classée selon le type de relation et la nature du contenu.</p>
	
		<div class="relation_filter" >
		    <a th:href="@{/ressources(ressourceTypeId=${param.ressourceTypeId}, searchWord=${param.searchWord})}"
		       th:class="'relation_filter_link' + (${param.relationTypeId} == null ? ' active' : '')"
		       onclick="resetFilter(event, this)"
		       data-reset="relationTypeId">
		       Tous
		    </a>
		    <a th:each="relation : ${listRelation}"
		       th:text="${relation.name}"
		       th:href="@{/ressources(relationTypeId=${relation.id}, ressourceTypeId=${param.ressourceTypeId}, searchWord=${param.searchWord})}"
		       th:class="'relation_filter_link'"
		       onclick="updateFiltersType(event, this)">
		    </a>
		  
		</div>
		<div class="ressourceType_filter" >
		    <a th:href="@{/ressources(relationTypeId=${param.relationTypeId}, searchWord=${param.searchWord})}"
		       th:class="'ressourceType_filter_link' + (${param.ressourceTypeId} == null ? ' active' : '')"
		       onclick="resetFilter(event, this)"
		       data-reset="ressourceTypeId">
		       Tous
		    </a>
		    <a th:each="ressourceType : ${listRessourceType}"
		       th:text="${ressourceType.name}"
		       th:href="@{/ressources(ressourceTypeId=${ressourceType.id}, relationTypeId=${param.relationTypeId}, searchWord=${param.searchWord})}"
		       th:class="'ressourceType_filter_link'"
		       onclick="updateFiltersType(event, this)">
		    </a>
		</div>
	</section>
	
	<article class="search_ressource">
		 <form id="searchForm" action="/ressources" method="get">
        <input type="hidden" id="relationTypeId" name="relationTypeId" th:value="${param.relationTypeId}">
        <input type="hidden" id="ressourceTypeId" name="ressourceTypeId" th:value="${param.ressourceTypeId}">
        
        <input class="search_input_ressource"
               placeholder="Rechercher une ressource"
               type="search"
               id="search"
               name="searchWord"
               th:value="${param.searchWord}" />
               
        <input type="submit" class="button-search w-button" value="Rechercher">
    </form>
	</article>

<section class="ressource_card_container">
		<a class="ressourceCard_link" th:href="@{/ressource/{id}(id=${res.id})}" th:each="res : ${listRessource}">
			<article class="ressourceCard">
				<img th:src="${res.headerImagePath}"/>
				<div class="list_of_relationType">
					<p class="relationType_item" th:each="relationType:${res.listRelationTypes}" th:text="${relationType.relationType.name}"></p>
				</div>
				<p class="ressourceType_item" th:if="${res.ressourceType != null}" th:text="${res.ressourceType.name}"></p>
				<h1 class="ressource_title" th:text="${res.title}"></h1>
				<p th:if="${res.category != null}" th:text="${res.category.name}"></p>
			</article>
		</a>
	
	<script> 
	
	function resetFilter(event, element) {
	    event.preventDefault();

	    const resetKey = element.dataset.reset;

	    const currentUrl = new URL(window.location.href);
	    const currentParams = new URLSearchParams(currentUrl.search);

	    // Supprimer uniquement le paramètre à reset
	    currentParams.delete(resetKey);

	    // Garder les autres filtres
	    const newUrl = `${window.location.pathname}?${currentParams.toString()}`;
	    window.location.href = newUrl;
	}
	
	function updateFiltersType(event, element) {
        event.preventDefault();  
        
        const currentUrl = new URL(window.location.href);
        const currentParams = new URLSearchParams(currentUrl.search);

        const clickedUrl = new URL(element.href);
        const clickedParams = new URLSearchParams(clickedUrl.search);
        
        // Met à jour ou ajoute les paramètres cliqués
        for (const [key, value] of clickedParams.entries()) {
            currentParams.set(key, value);
        }

        // Récupère la valeur de la barre de recherche
        const searchInput = document.getElementById("search");
        if (searchInput) {
            const searchWord = searchInput.value.trim();
            if (searchWord !== "") {
                currentParams.set("searchWord", searchWord);
            } else {
                currentParams.delete("searchWord");
            }
        }

        // Redirige avec les paramètres combinés
        const newUrl = `${window.location.pathname}?${currentParams.toString()}`;
        window.location.href = newUrl;
    }
	</script>
	
</section>
</main>
</body>
</html>

