<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/mainLayout}">
<head>
    <title>Contenu de la Ressource</title>
    <link rel="stylesheet" href="/css/myRessource.css" />
</head>
<body>
<main layout:fragment="content">
<div class="container">
    <div class="content-card">
    	<div class="user_items_button_container" th:if="${myUser != null}">
			<form th:action="@{/favorite/create}" method="post">
			    <input type="hidden" th:name="ressourceId" th:value="${ressource.id}" />
			    <button type="submit" class="save_item_button" title="Ajouter aux favoris">
			        <img class="favorite_item"  th:if=${!isFavorite} src="/img/heart.png" alt="Favori" />
			        <img class="favorite_item"  th:if=${isFavorite} src="/img/red_heart.png" alt="Favori" />
			    </button>
			</form>
	    	<button type="submit" class="save_item_button" title="Ajouter aux sources exploitées">
	    		<img class="exploit_item" src="/img/exploit.png" alt="exploiter" />
			</button>
    		<button type="submit" class="save_item_button" title="Ajouter aux sources à consulter">
    			<img class="saveToConsult_item" src="/img/banniere.png" alt="consulter" />
			</button>
    	</div>
        <h1 th:text="${ressource.title}"></h1>
        <img th:src="@{${ressource.headerImagePath}}" alt="Image d'en-tête" class="header-image" th:if="${ressource.headerImagePath != null}">
        <span th:text="${ressource.description}"></span>
        <p><strong>Catégorie :</strong> <span th:text="${ressource.category.name}"></span><strong> / Types de relation  :</strong>

            <span th:each="rr : ${ressource.listRelationTypes}">
					        <span th:text="${rr.relationType.name}"></span>
					    </span>

            <strong> / Type :</strong> <span th:text="${ressource.ressourceType.name}"></span>
        </p>
        <p><strong>Publié le :</strong> <span th:text="${#dates.format(ressource.publicationDate, 'dd MMM yyyy')}">
            </span><strong> / Dernière mise à jour :</strong> <span th:text="${#dates.format(ressource.updateDate, 'dd MMM yyyy')}"></span></p>
        <p th:if="${#strings.isEmpty(ressource.filePath)}">
            <span th:text="${ressource.content}"></span>
        </p>
        <p th:if="${not #strings.isEmpty(ressource.filePath)}">
            <img th:src="@{${ressource.filePath}}" alt="Image" class="content-image" />
        <h2 th:text="${ressource.content}"></h2>
        </p>
    </div>
</div>
</main>
</body>
</html>